<li class="mdl-list__item mdl-list__item--two-line">
  <span class="mdl-list__item-primary-content">
    <img src="<%= avatar %>" class="mdl-list__item-avatar">
    <span<%= isMe ? ' class="message-self"' : '' %>><a style="color:inherit;text-decoration:none" href="https://www.moedict.tw/<%= adj %>" target="_blank"><%= adj %></a>的<a style="color:inherit;text-decoration:none" href="https://www.wikiwand.com/zh-tw/<%= noun %>" target="_blank"><%= noun %></a></span>
    <span class="mdl-list__item-sub-title"><%= content %></span>
  </span>
  <span class="mdl-list__item-secondary-content">
    <span class="mdl-list__item-secondary-info" data-time="<%= time %>"><%= timeFromNow %></span>
  </span>
</li>
